requests
newsapi-python
bs4
pynytimes
nltk
scikit-learn
dataclasses
neptune-client
jenkspy
https://github.com/explosion/spacy-experimental/releases/download/v0.6.1/en_coreference_web_trf-3.4.0a2-py3-none-any.whl
matplotlib
seaborn